[user]
	name = Jakob Odersky
	email = jakob@odersky.com
	signingkey = 0x4601878662E33372
[color]
	ui = auto
[alias]
	s = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	lg = log --oneline --decorate --all --graph
	pr = "!f() { git fetch ${2:-upstream} pull/$1/head:pr/$1; }; f"
[push]
	default = simple
[core]
	editor = emacsclient --alternate-editor='' --tty
	excludesfile = ~/.gitignore_global
[credential "https://git-wip-us.apache.org"]
	username = jodersky
	helper = "!f() { echo password=$(pass sites/apache.org); }; f"