[Unit]
Description=run backup script periodically
Requisite=internet-unmetered.target
After=internet-unmetered.target

[Timer]
OnCalendar=0/2:00:00
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=internet-unmetered.target
