[Unit]
Description=copy home data to remote storage
Requisite=internet-unmetered.target
After=internet-unmetered.target

[Service]
Type=simple
ExecStart=%h/bin/backup
