[Unit]
Description=copy home data to remote storage
Requisite=unmetered-internet.target
After=unmetered-internet.target

[Service]
Type=simple
ExecStart=%h/bin/backup
